<div class="flex">
  <!-- メインコンテンツ（左側） -->
  <div class="flex-1 p-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">新規投稿を作成</h1>

    <div id="post_form">
      <%= render 'posts/form', post: @post %>
    </div>
  </div>

  <!-- 右側のタグ選択カラム -->
  <div class="w-1/3 p-8 bg-white rounded-lg shadow-md ml-8 mt-16 max-h-[90vh] overflow-y-hidden hover:overflow-y-auto">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">送りたい人の情報</h2>
    <div class="space-y-6">
      <%= render 'checkbox_options', title: "1. 送りたい人の立場", field_name: "post[recipient_standing][]", options: recipient_standing_options, selected: @post.recipient_standing %>
      <%= render 'checkbox_options', title: "2. 創作歴", field_name: "post[recipient_creation_experience][]", options: recipient_creation_experience_options, selected: @post.recipient_creation_experience %>
      <%= render 'checkbox_options', title: "3. 趣味・関心ジャンル", field_name: "post[recipient_interests][]", options: recipient_interests_options, selected: @post.recipient_interests %>
      <%= render 'checkbox_options', title: "4. 年齢層", field_name: "post[recipient_age_group][]", options: recipient_age_group_options, selected: @post.recipient_age_group %>
      <%= render 'checkbox_options', title: "5. 支援したいジャンル", field_name: "post[recipient_support_genres][]", options: recipient_support_genres_options, selected: @post.recipient_support_genres %>
      <%= render 'checkbox_options', title: "6. 応援スタイル", field_name: "post[recipient_support_styles][]", options: recipient_support_styles_options, selected: @post.recipient_support_styles %>
      <%= render 'checkbox_options', title: "7. 性格傾向", field_name: "post[recipient_personality_traits][]", options: recipient_personality_traits_options, selected: @post.recipient_personality_traits %>
    </div>
  </div>
</div>