<h1>新規投稿</h1>

<%= form_with model: @post, local: true do |form| %>
  <div>
    <%= form.label :title, "タイトル" %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, "本文" %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit "投稿する" %>
  </div>
<% end %>
