<!-- app/views/posts/show.html.erb -->

<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<p><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>

<% if @post.thumbnail.attached? %>
  <div>
    <%= image_tag @post.thumbnail.variant(resize_to_limit: [400, 400]), class: "thumbnail" %>
  </div>
<% end %>

<% if @post.video.attached? %>
  <div>
    <video width="100%" style="max-width: 600px;" controls>
      <source src="<%= url_for(@post.video) %>" type="<%= @post.video.content_type %>">
      お使いのブラウザは video タグをサポートしていません。
    </video>
  </div>
<% else %>
  <p>動画はありません。</p>
<% end %>

<%= link_to "ホームに戻る", root_path %>
