<!-- サイドバー -->
<div class="bg-white w-64 h-screen flex flex-col p-4 border-r fixed">
  <h2 class="text-2xl font-bold mb-6">Feedbacks</h2>
  <nav class="flex flex-col space-y-2">
    <%= link_to "ホーム", root_path, class: sidebar_link_class(root_path) %>
    <%= link_to "投稿検索", search_posts_path, class: sidebar_link_class(search_posts_path) %>
    <%= link_to "新規投稿", new_post_path, class: sidebar_link_class(new_post_path) %>
    <hr class="my-2">
    <% if user_signed_in? %>
      <%= link_to "マイページ", mypage_path, class: sidebar_link_class(mypage_path) %>
      <%= link_to "アカウント編集", edit_user_registration_path, class: sidebar_link_class(edit_user_registration_path) %>
      <%= link_to "好みを登録", new_preference_path, class: sidebar_link_class(new_preference_path) %>
      <% if current_user.supporter_profile.present? %>
        <%= link_to "プロフィールを見る", supporter_profile_path, class: sidebar_link_class(supporter_profile_path) %>
      <% else %>
        <%= link_to "プロフィール登録", new_supporter_profile_path, class: sidebar_link_class(new_supporter_profile_path) %>
      <% end %>
      <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-left w-full text-red-500 hover:bg-red-50 px-4 py-2 rounded" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: sidebar_link_class(new_user_session_path) %>
      <%= link_to "新規登録", new_user_registration_path, class: sidebar_link_class(new_user_registration_path) %>
    <% end %>
  </nav>
</div>